<style type="text/css">

.main-container {
  max-width: 1200px;
  margin-left: 100px;
  margin-right: 0;
}
body{ /* Normal  */
      font-size: 12px;
      margin: 0px;
      background-color: rgba(127,189,227,0.3);
  }
  
  
td {  /* Table  */
  font-size: 8px;
  
}
h1.title {
  font-size: 30px;
  color: DarkRed;
}
h1, h2 { /* Header 1 */
  font-size: 25px;
  color: Black;
}

h3 { /* Header 3 */
  background: #cce5ff;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: DarkBlue;
}
code.r{ /* Code block */
    font-size: 12px;
}
pre { /* Code block - determines code spacing between lines */
    font-size: 8px;
}

ol, ul{ /* ordered list style */ /* dot list style */
    font-size: 20px;font-weight:bold;}




</style>